.toast-container {
	position: fixed;
	bottom: 10%;
	right: 5%;
}

.toast {
	width: 200px;
	text-align: center;
	position: relative;
	padding: 10px;
	color: rgb(201, 34, 34);
	background: #fff;
	border: 2px solid rgb(201, 34, 34);
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: grab;
	user-select: none;
}

.toast:last-child {
	margin-bottom: 0;
}