.card-info {
	margin-top: 30px;
	border: 2px solid rgb(204, 24, 24);
	background: rgb(255, 235, 235);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.card-info__img {
	height: 120px;
	max-width: 200px;
}

.card-info__title {
	font-size: 32px;
	font-weight: 500;
}

.card-info__description {
	font-size: 20px;
	margin-bottom: 20px;
}

.card-info__price {
	margin-bottom: 20px;
}

.card-info__button {
	width: 60px;
	height: 30px;
	font-size: 20px;
	background: #fff;
	color: rgb(201, 34, 34);
	border: 2px solid rgb(201, 34, 34);
	border-radius: 5px;
	cursor: pointer;
	transition: .3s all ease-in
}

.card-info__button:hover {
	background: rgb(201, 34, 34);
	color: #fff;
}